LiveWallpaperApp
build
build/**
build-xcode
build-xcode/**
**.bak
**.patch
.DS_Store/
.DS_Store/**
BrewReleases
BrewReleases/**
.cache/
.cache/**
.vscode/
.vscode/**
.DS_Store
project.yml
LiveWallpaper.icon/Assets/roller 2.svg
LiveWallpaper.icon/icon.json
LiveWallpaper.icon/icon.json
LiveWallpaper.icon/Assets/roller 2.svg
/LiveWallpaper.icon
/AppIcon.icon